@page "/server"

@using lkcode.hetznercloudapi.Instances.Server;
@using blazor_demo.Helper;

<PageTitle>hcloud.net | Server Overview</PageTitle>

<PageHeader Title="Server Overview"
            Breadcrumbs="@Breadcrumbs" />

<div class="content">

    <div class="container-fluid">

        <div class="row">

            <div class="col-xs-12">

                <ActionBar>

                    <button type="button" class="btn btn-primary btn-sm" @onclick="() => OnAddServerClick()">
                        <i class="bi bi-plus-lg me-2"></i>
                        <span class="align-middle">Add server</span>
                    </button>

                </ActionBar>

            </div>

        </div>

        <div class="row">

            @foreach (Server server in this._servers)
            {
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">

                    <ContentBlock Title="@server.Name"
                                  AdditionalTitle="@server.Status.ToString()"
                                  HeaderBackgroundClass="@server.Status.ToColorClass()"
                                  class="cursor-pointer"
                                  OnClickCallback="() => OnServerClick(server)">
                        <p>ID: #@server.Id</p>
                        <p>Created: @server.Created</p>
                        @*<p class="m-0">Ingoing-Traffic: @server.IngoingTraffic Bytes / @server.IncludedTraffic Bytes</p>*@
                        @*<p class="m-0">Outgoing-Traffic: @server.OutgoingTraffic Bytes / @server.IncludedTraffic Bytes</p>*@
                        <p>
                            @foreach (var label in server.Labels)
                            {
                                <span class="badge text-bg-secondary me-1">
                                    @string.Format("{0}: {1}", label.Key, label.Value)
                                </span>
                            }
                        </p>
                    </ContentBlock>

                </div>
            }

        </div>

    </div>

</div>
